<!DOCTYPE html>
<html>
<head>
  <title>Epic Battles</title>
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <div class="selectionsCont">
    <div class="ggCont">
    </div>
    <div class="bgCont">
    </div>
  </div>
<!--   <div class="container">
    <div class="header"></div>
      <span></span>

    <div class="body">
      <div class="heroes"></div>
      <div class="villains"></div>
    </div>


    <div class="footer"></div>



  </div> -->
  <!-- <script type="text/template" class="template"> -->
    <div class="goodguy">
      <h3>Good Guy : <span class="ggHealth"></span></h3> <!-- "<%= charlieBrown.name %>" -->
      <button class="ggAttack">Good guy attacks!</button> <!-- "<%= charlieBrown.name %>" -->
    </div>

    <div class="badguy">
      <h3>Bad Guy : <span class="bgHealth"></span></h3> <!-- "<%= lucy.name %>" -->
    </div>
  <!-- </script> -->
  
  <script src="js/main.js"></script>


</body>
</html>
